<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml" xmins:th="http://www.thymeleaf.org">
	<head th:replace="layouts :: header"></head>
	<body style="background-color: #fff;">
		<nav th:replace="layouts :: navbar"></nav>
		<div class="container">
			<div class="row justify-content-center align-items-center" style="margin-top: 40px; padding:20px; min-height:75vh;">
				<form automcomplete="off" th:action="@{/register/save}" th:object="${userAccount}" method="post" class="form-signin col-8" role="form">
					<h3 class="form-signin-heading">Registration Form</h3>
					<div class="form-group">
						<div class="">
							<input type="text" th:field="*{userName}" placeholder="User Name" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="">
							<input type="text" th:field="*{email}" placeholder="example@email.com" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="">
							<input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
						</div>
					</div>
					<label for="role_select">Role</label>
					<select
					id="role-select"
					name="role-select"
					class="custom-select" 
					th:field="${userAccount.role}"
					>
					<option  
						th:value="USER"
						th:text="USER"
					></option>
					<option  
						th:value="ADMIN"
						th:text="ADMIN"
					></option>
				</select>
					<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
					<div class="form-group mt-5">
						<div class="">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					<!-- <span th:utext="${successMessage}"></span> -->
				</form>
			</div>
		</div>
		<footer th:replace = "layouts :: footer"></footer>
	</body>
</html>