<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: header"></head>
  <body>
  	<nav th:replace="layouts :: navbar"></nav>
	<div class="container" style="min-height:calc(100vh - 144px)">
		<div class="row mt-3">
		<div class="col-6">
			<h1>Dashboard</h1>
			<h6>Ver. <span th:text="${versionNumber}"></span></h6>
			<hr />
		</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-8">
				<h4>Projects</h4>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Name</th>
							<th>Stage</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aProject : ${projects}">
							<td th:text="${aProject.name}" />
							<td th:text="${aProject.stage}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<canvas id="myDoughnutChart" height="400" width="400"></canvas>
				<script>
					var chartData = "[[${stageCounts}]]";
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h4> Employees</h4>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Project Count</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="anEmployeeProjectCount : ${employeesProjectCnt}">
							<td th:text="${anEmployeeProjectCount.firstName}" />
							<td th:text="${anEmployeeProjectCount.lastName}" />
							<td th:text="${anEmployeeProjectCount.projectCount}"}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace = "layouts :: footer"></footer>
	<script type="text/javascript" th:src="@{js/mychart.js}"></script>
  </body>
</html>