<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: header"></head>
  <body>
  	<nav th:replace="layouts :: navbar"></nav>
	<div class="container" style="min-height:calc(100vh - 144px)">
		<div class="row mt-5">
			<h1 class="col-6">Current Projects</h1>
			<hr />
			<a th:href="@{/projects/new}" class="mx-auto my-0 col-6">
					<button class="btn btn-success float-right ">Add Project</button>
			</a>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Name</th>
							<th>Stage</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aProject : ${projects}">
							<td th:text="${aProject.name}" />
							<td th:text="${aProject.stage}" />
							<td th:text="${aProject.description}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace = "layouts :: footer"></footer>
  </body>
</html>