<!DOCTYPE html>
<html>
  <head th:replace="layouts :: header"></head>
  <body>
    <nav th:replace="layouts :: navbar"></nav>
	<div class="container">
		<form action="/projects/save" method="POST" th:object="${project}" class="col form-group mt-5">
			<h2>Add Project</h2>
			<label for="projectName">Project Name</label>
			<input id="projectName" name="projectName" type="text" placeholder="New Project" th:field="${project.name}" class="form-control">
			<label class="mt-3">Project Stage</label>
			<select class="custom-select" th:field="${project.stage}">
				<option th:value="NOTSTARTED">Not Started</option>
				<option th:value="INPROGRESS">In Progress</option>
				<option th:value="COMPLETED">Completed</option>
			</select>
			<label class="mt-3" for="description">Project Description</label>
			<textarea id="desciption" name="desciption" type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sem..." th:field="${project.description}" class="form-control" rows="3"></textarea>
			<div class="row mt-5">
				<a th:href="@{/projects}" title="Cancel" class="col">
					<button class="btn btn-danger mt-3 col" type="button">Cancel</button>
				</a>
				<button class="btn btn-success mt-3 col" type="submit">Create</button>
			</div>
		</form>
	</div>
  </body>
</html>